@charset "UTF-8";

@import 'mixins';
@import 'variables';
@import 'header';
@import 'navbar';
@import 'footer';
@import 'reset';
@import 'gallery';
/*-----------------------------------Main------------------------------------------------------------*/
body {
	background-image: url('../images/bg-blue.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	
	height : 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	
	#sidebar-wrapper{
	padding: 30px;
		margin: $marginL 0;
		height:600px;
		background-color: #F3FBE4;
		border-radius: 5px;
		
		.btn-link{
		@extend %links;
		}
	}
	#post-container{
		@extend %gallery;
	 }
}